.header_section {
  padding-top: 40px;
  text-align: center;
}

.header_section span {
  color: #372aee;
  font-weight: 300;
  text-transform: uppercase;
}

.header_section h2 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
}

.header_section .faka {
  width: 40px;
  height: 2px;
  margin: 10px auto;
  background: #372aee;
}

.header_section p {
  color: #a9a9ac;
}

.blog_section {
  padding: 40px 0;
}

.blog_section .inner_col {
  position: relative;
}

.blog_section .inner_col:hover .hover_part {
  visibility: visible;
  opacity: 1;
  bottom: 47%;
}

.blog_section .inner_col:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 5px;
}

.blog_section .inner_col .inner_image {
  overflow: hidden;
  border-radius: 5px;
}

.blog_section .inner_col .inner_image img {
  width: 100%;
  border-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

.blog_section .inner_col h3 {
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}

.blog_section .inner_col p {
  color: #8c8c8d;
  font-weight: 500;
}

.blog_section .inner_col .hover_part {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 7px 20px 7px 10px;
  background: #372aee;
  display: inline-block;
  border-radius: 30px;
  position: absolute;
  bottom: 40%;
  right: 40px;
  -webkit-transition: .4s;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}

.blog_section .inner_col .hover_part img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.footer_section {
  background: #081828;
  padding: 80px 0;
}

.footer_section .inner_footer_1 img {
  width: 100px;
  cursor: pointer;
}

.footer_section .inner_footer_1 p {
  color: #8b8a8a;
  margin-top: 15px;
  margin-bottom: 30px;
}

.footer_section .inner_footer_1 i {
  color: #919191;
  margin-right: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}

.footer_section .inner_footer_1 i:hover {
  color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.footer_section .inner_footer_2 h4 {
  color: #fff;
  position: relative;
  padding-left: 10px;
}

.footer_section .inner_footer_2 h4::before {
  content: '';
  width: 3px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 5px;
  background: #202ef3;
}

.footer_section .inner_footer_2 ul {
  padding: 0;
  list-style: none;
}

.footer_section .inner_footer_2 ul li {
  color: #a9a9ac;
  line-height: 45px;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer_section .inner_footer_2 ul li:hover {
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.icon {
  margin: 100px auto;
  width: 20px;
}

.icon i {
  font-size: 40px;
  color: #fff;
  line-height: 70px;
  width: 70px;
  height: 70px;
  background: #0b99d1;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.icon i::before {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fa0d0d;
  border-radius: 50%;
  z-index: 1;
  -webkit-animation: sazidur 1.5s ease-out infinite;
          animation: sazidur 1.5s ease-out infinite;
}

@-webkit-keyframes sazidur {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: .3;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: .5;
  }
}

@keyframes sazidur {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: .3;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: .5;
  }
}
/*# sourceMappingURL=style.css.map */